<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.3.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.1" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="PricingLibrary" version="1.0.1" targetFramework="net452" />
  <package id="Prism" version="5.0.0" targetFramework="net452" />
  <package id="Prism.Composition" version="5.0.0" targetFramework="net452" />
  <package id="Prism.Interactivity" version="5.0.0" targetFramework="net452" />
  <package id="Prism.Mvvm" version="1.0.0" targetFramework="net452" />
  <package id="Prism.PubSubEvents" version="1.0.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net452" />
</packages>