<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.3.0" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="PricingLibrary" version="1.0.1" targetFramework="net452" />
  <package id="Prism.Core" version="6.2.0" targetFramework="net45" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net452" />
</packages>